
* {
  box-sizing: border-box;
  
}
body{
  background-image: url("./images/grass.jpeg");
  background-repeat: inherit;
}


.content {
  float: left;
  height: 500px;
  border-style: solid; 
  font-size: 20px;
  border-radius: 200px;
  width: 50%;
  color: blue;
  padding: 50px;
  background-color: floralwhite;
 
}


.description:after {
  content: "";
  display: table;
  clear: both;
}
footer{
    border-style: solid;
    color: blue;
    text-align: center;
    border-radius: 10px;
    background-color: slategrey;
}