.form{
    border-style: solid;
    background-color: darkgray;
    margin-top: 20px;
    margin-right: 300px;
    margin-bottom: 40px;
    margin-left: 300px;
    height: 500px;
    padding: 20px 200px 40px;
    font-size: 20px;
    
}
body{
    background-color: darkkhaki;
}