body{
    background-image: url("cow_background.png");
    background-repeat:repeat;
    width: 100%;
}
.form{
    
    border-style: solid;
    background-color: darkgray;
    margin-top: 20px;
    margin-right: 300px;
    margin-bottom: 40px;
    margin-left: 300px;
    height: 500px;
    padding: 20px 200px 40px;
    font-size: 20px;
    line-height: 1.6;
    width: 200px;
    
}
body{
    background-color: darkkhaki;
}
nav{
    border-style: groove;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: burlywood;
    color: blue;
}